<div class="page-header">
    <div class="w3-tangerine" style="float:left;">
        <span style="color:black;">
            <span class="w3-xlarge" style='font-family: "Courier New", monospace;font-weight: bold;'>OpenAI</span>
            <span class="w3-tangerine w3-xxlarge" style="font-weight: bold;">Storyteller</span>
        </span>
    </div>
    <div class="page-header-generate-new-story-div">
        <a href="/">Generate a new story</a>
    </div>
</div>
<br clear="all" />
<br clear="all" />
